pre[class*="language-"] > code {
    font-size: 16px !important;
    border-left: none !important;
    box-shadow: 0px 0px 0px 1px #dfdfdf !important;
}

pre[class*=language-]:after, pre[class*=language-]:before {
    display: none !important;
    content: none !important;
}
